.card {
  padding: var(--spacing-300);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: var(--spacing-300);
  box-shadow: var(--shadow-default);
}

.card-dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-inverse);
}

.card-light {
  background-color: var(--color-white);
}

.card-no-background {
  background-color: var(--color-beige-100);
  padding: 0;
  box-shadow: none;
}

@media (max-width: 767px) {
  .card {
    margin-bottom: var(--spacing-200);
  }
}