.navigation {
  width: 280px;
  background-color: var(--color-grey-900);
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom-right-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}

.navigation.minimized {
  width: 88px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-300);
  margin-bottom: var(--spacing-300);
}

.minimize-btn {
  background: none;
  border: none;
  color: var(--color-grey-100);
  cursor: pointer;
  gap: var(--spacing-200);
  display: flex;
  align-items: center;
}

.minimize-btn svg {
  transition: transform var(--transition-normal);
}

.navigation.minimized .minimize-btn svg {
  transform: scaleX(-1); /* Flips the SVG horizontally */
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-links li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-links li a {
  display: flex;
  align-items: center;
  padding: var(--spacing-200) var(--spacing-300);
  color: var(--color-grey-100);
  text-decoration: none;
  width: calc(100% - var(--spacing-300)); /* Full width minus right padding */
  box-sizing: border-box;
  border-left: var(--spacing-50) solid transparent;
  height: 48px;
  font-weight: var(--font-weight-bold);
}

.nav-links li a:hover:not(.active) {
  background-color: var(--color-grey-900);
}

.nav-links li a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--spacing-200);
  line-height: 1; 
  vertical-align: middle; 
}

.nav-links li a.active {
  color: var(--color-grey-900);
  font-weight: var(--font-weight-bold);
  border-left-color: var(--color-green);
  margin-left: 0;
  position: relative;
  background-color: var(--color-grey-100);
  border-bottom-right-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
}

.nav-links li a.active .icon {
  filter: invert(42%) sepia(11%) saturate(1966%) hue-rotate(143deg) brightness(92%) contrast(88%);
}

.nav-footer {
  margin-top: auto;
  padding: var(--spacing-300);
  margin-bottom: var(--spacing-500);
}

/* Tablet styles */
@media (max-width: 1024px) {
  .navigation {
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    top: auto;
    flex-direction: row;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  }
  
  .nav-header, .nav-footer {
    display: none;
  }
  
  .nav-links {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: var(--spacing-100) 0 0 0; /* 16px top margin */
  }
  
  .nav-links li {
    flex: 1;
    margin: 0 var(--spacing-300)
  }
  
  .nav-links li a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--spacing-100);
    width: 100%;
    height: 72px;
    border-bottom: var(--spacing-50) solid transparent;
  }
  
  .nav-links li a.active {
    border-left: none;
    border-bottom-color: var(--color-green);
    padding-left: var(--spacing-100);
    color: var(--color-green);
    background-color: var(--color-grey-100);
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    border-bottom-right-radius: 0;
  }
  
  .nav-links li a .icon {
    margin-right: 0;
    margin-bottom: var(--spacing-50);
  }
  
  .nav-links li a .link-text {
    font-size: var(--font-size-12);
  }

}

/* Mobile styles */
@media (max-width: 767px) {
  .nav-links {
    margin: var(--spacing-100) var(--spacing-200) 0 var(--spacing-200)
  }
  
  .nav-links li {
    margin: 0
  }

  .nav-links li a.active {
    border-bottom-color: var(--color-green);
  }
  
  .nav-links li a .link-text {
    display: none; 
  }  
}